@import "./components/NoteList.css";
@import "./components/NewNote.css";
@import "./components/MainNavigation.css";
@import "./styles/note-details.css";
@import "./styles/home.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-10: #e7cffe;
  --color-primary-50: #dcbcfb;
  --color-primary-100: #ca97fc;
  --color-primary-200: #b779f4;
  --color-primary-300: #a85ff0;
  --color-primary-400: #8f42dd;
  --color-primary-500: #8d34e6;
  --color-primary-600: #8021e0;
  --color-primary-700: #690fc3;
  --color-primary-800: #4e0596;
  --color-secondary-50: hsl(24, 93%, 83%);
  --color-secondary-100: hsl(24, 91%, 75%);
  --color-secondary-200: hsl(24, 96%, 68%);
  --color-secondary-300: hsl(24, 96%, 61%);
  --color-secondary-400: hsl(24, 96%, 53%);
  --color-secondary-500: hsl(24, 100%, 50%);
  --color-secondary-600: hsl(22, 90%, 50%);
}

@layer base {
  body {
    @apply bg-[radial-gradient(ellipse_at_top,_var(--color-primary-400),_var(--color-primary-100))] min-h-screen scroll-smooth;
  }
  .error {
    @apply max-w-sm my-16 mx-auto p-8 text-center bg-secondary-color-100 shadow-md rounded-lg;
  }

  .info-message {
    @apply m-8 text-center text-primary-color-50 text-2xl;
  }
}
